header{
	text-align: left;
	position: relative;
}

.logo{
	float: left;
	margin: 10px 10px 0px 40px;
}

.nav-content {
	padding: 10px;
	float: right;
	margin: 5px 40px 5px 5px;
}

.navigation{
	float: right;
	margin: 0;
	padding: 0;
}

nav {
	color: black;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
}


li{
	display: inline;
	text-decoration: none;
	padding: 0 20px 0 20px;
	margin: none;
}

a { color: black; text-decoration: none;} 
a:visited { color: black; text-decoration: none;} 
a:hover { color: #A00; text-decoration: none;} 
a:active { color: #ccc; text-decoration: none; } 


body{
	font-family: 'Lato'; 
	margin: 0px;
	width: 100%;
}

.firstcharacter { 
	float: left; 
	color: #DDD; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 0px; }

article{
	margin: 0px 100px 0px 100px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 30px;
}

img{
	max-width: 100%;
	margin: none;
	padding: none;
}

h1{
	margin: 40px 40px 0 40px;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
	line-height: 1.2;
	padding-bottom: 10px;
}

h1 a{
	color: #D00;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-size: 56px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;

}


h2{
	font-weight: lighter;
	font-size: 24px;
	margin: 0 40px 40px 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #DDD;
	font-style: italic;
}


h3{
	font-weight: lighter;
	color: #ccc;
	font-size: 24px;
	margin-top: 40px;
}

h2 a{
	color: #444;
	text-decoration: none;
	font-size: 36px;
	line-height: 0px;
}

h4 {
	text-align: right;
	text-decoration: none;
}

h4 a{
	text-decoration: none;
}

h5{
	font-weight: lighter;
	font-size: 24px;
	font-style: bold;
}

article h5{
	margin: none;
}

footer nav{
	margin-top: 20px;
	text-decoration: none;
	background: #ccc;
}

footer nav a{
	margin-top: 20px;
	color: black;
	text-decoration: none;
	font-size: 16px;
}


footer p{
	font-size: 12px;
	background: black;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

p{
	line-height: 30px;
}

footer ul {
	padding: 0px;
	margin: 0px;
	color: white;
	background-color: black;
}

footer li{
	padding: 0px;
	color: white;
}

footer li a { color: white; text-decoration: none;} 
footer li a:visited { color: white; text-decoration: none;} 
footer li a:hover { color: #A00; text-decoration: none;} 
footer li a:active { color: white; text-decoration: none; } 

.footer {
	background: black;
	padding: 10px;
	clear: both;
	display: block;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	/*height: 624px;*/
	width: 33%;
	float: left;
	overflow-y: scroll;

}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.front, .back {
	width: 100%;
/*	display: inline-block;
	float: left;*/
	/*height: 480px;*/
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transition-timing-function: cubic-bezier(0.55, 0.09, 0.79, 1.41);
	transform-style: preserve-3d;

	/*position: relative;*/
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: black;
	color: white;
	/*height: 624px;*/
}

.back h1{
	color: white;
	font-size: 2em;
	padding-bottom: 0px;
}

.back h2{
	color: #999;
	font-size: 1em;
	font-weight: lighter;
	font-style: normal;
	margin: 10px 40px 0 40px;
	padding-bottom: 0px;
	border-bottom: none;
}

.back h3{
	color: #999;
	font-size: .875em;
	margin: 10px 40px 10px 40px;
	border-bottom: 1px solid #999;
	padding-bottom: 20px;
}

.back p{
	color: white;
	font-size: .875em;
	margin: 0 40px 40px 40px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #000;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
